{% extends "base.html" %}
{% block title %}Просмотр поста{% endblock %}
{% block header %}Просмотр поста{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include "includes/card.html" with author=post.author%}
        <div class="col-md-9">
                <div class="card mb-3 mt-1 shadow-sm">
                        {% load thumbnail %}
                        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                                <img class="card-img" src="{{ im.url }}">
                        {% endthumbnail %}
                                <div class="card-body">
                                <p class="card-text">
                                        <a href="{% url 'profile' post.author.username %}"><strong class="d-block text-gray-dark">@{{ post.author.username }}</strong></a>
                                        {{ post.text|linebreaksbr }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group ">
                                                {% if user.is_authenticated %}
                                                    {% if user.username == author.username %}
                                                        <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.id %}" role="button">Редактировать</a>
                                                    {% endif %}
                                                {% endif %}
                                        </div>
                                        <small class="text-muted">{{post.pub_date}}</small>
                                </div>
                        </div>
                </div>
                {% include "includes/comments.html"%}
     </div>
    </div>
</main>
{% endblock %}